.checkoutCOntainer {
  font-family: "Open Sans", system-ui, sans-serif;
  width: 54%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:50px auto;
  height: 90vh;

}

@media (max-width:840px) { 
  .checkoutCOntainer {
    width: 60% !important;
  }
}

.leftCheckoutContainer {
  flex:50%;
  margin-right: 20px;
}

.leftCheckoutContainer > .card {
  background: #ffff;
  margin: 15px 0px;
  padding: 25px;
}


.card > div .card_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card_1 h1 {
  font-size: 20px;
}

.card_1 h1 strong {
  background:#1877F2 ;
  padding: 5px 14px;
  border-radius: 50%;
  font-size: 16px;
  color: #ffff;
}


.leftCheckoutContainer > div .card_1_info input {
  width: 90%;
  display: flex;
  border: 1px ;
  box-shadow: 2px 2px 2px 2px #888888;
  border-radius: 7px;
  padding: 14px;
}

@media (max-width:840px) { 
.leftCheckoutContainer  {
  margin-right: 0px;
}
 .leftCheckoutContainer > div .card_1_info {
    width: 100% !important;
  }
}

@media (max-width:1280px) { 
  .leftCheckoutContainer > div .card_1_info {
    width: 80% !important;
  }
}

  .leftCheckoutContainer > div .card_1_info p {
  font-size: 14px;
  font-weight: 600;
}

.card .card_button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.card .card_button button {
  border: none;
  background: none;
  color: #1877F2;
  font-size: 14px;
  font-weight: 600;
}

.card .card_button .add_icon {
  color: #1877F2;
  font-weight: 600;
  font-size: 16px;
}

.rightCheckoutContainer {
  flex:30%;
  margin-left: 20px;
}

.rightCheckoutContainer > div {
  margin: 15px 0px;
  padding: 15px;
  font-size: 14px;
  color: gray;
}
.rightCheckoutContainer > div > h2 {
  text-align:center;
}

.items {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.items_total > div {
  display: flex;
  justify-content: space-between;
}

.items_total > div > span {
  margin-bottom: 20px;
}

.div_button {
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.div_button button {
  font-family: "Open Sans", system-ui, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  width: 100%;
  padding: 15px 15px;
  border: none;
  background: #1877F2;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
}

.div_button button:hover {
  background: #1D8BF6;
}

@media (max-width:840px) { 
.rightCheckoutContainer {
  margin-left: -20px;
}
.rightCheckoutContainer  > div .card_1_info {
    width: 100% !important;
  }
}