.maxUl, .minUl {
  display: flex;
  align-items: center;
  list-style: none;
}

.maxUl a, .minUl a  {
  text-decoration: none;
  color: black;
}

.maxUl li, .minUl li {
  margin-right: 60px;
  color: gray;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.maxUl li a, .minUl li a {
  color: gray;
}

.maxUl li p:hover, .minUl li p:hover {
  color: #00C58E !important;
}

.minUl {
  display: none;
}

.hamburger {
  display: none ;
}

.maxUl li:hover, .maxUl li a:hover, .minUl li:hover, .minUl li a:hover {
  color: #00C58E;
  cursor: pointer;
  font-weight: 400;
}

.maxUl .join {
  cursor: pointer;
  padding: 10px 13px;
  border-radius: 4px;
  border: none;
  background: #1877F2;
  color: #ffff;
  font-family: 'Open Sans', sans-serif;
}

.maxUl .join:hover {
  color: #ffff;
  background: #1D60F6;
}

@media (max-width:768px) { 
  .maxUl li, .cart_count {
    display: none !important;
  }
  .show {
    display: block;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .minUl {
    position: absolute;
    margin-top: 80px;
    flex-direction: column;
    width: 95% !important;
    display: flex;
    background: #ffff;
    margin-left: -20px;
  }

  .minUl li {
    margin: 25px;
  }

  .menuIcon {
    align-items: center;
    justify-content: space-between;
  }
  .menuIcon p {
    color: #ffff;
    font-weight: 700;
    padding: 5px 12px;
    background:#1877F2 ;
    border-radius: 100%;
    margin-right: 5px;
    font-size: 15px;
  }
}
